<form class="pl-5 pr-5" action="{{ formAction }}" method="POST" class="post-form">
  {% csrf_token %}
  <div class="pb-2">{{ form.non_field_errors }}</div>
  <div class="row">
    <div class="form-group col-md">
      <label for="name">First Name</label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    {% if initial %}
    <div class="form-group col-md">
      <label for="email">Email</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="form-group col-md">
      <label for="name">Date</label>
      {{ form.date }}
      {{ form.date.errors }}
    </div>
    <div class="form-group col-md">
      <label for="name">Time</label>
      {{ form.time }}
      {{ form.time.errors }}
    </div>
    <div class="form-group col-md">
      <label for="name">Party Size</label>
      {{ form.partySize }}
      {{ form.partySize.errors }}
    </div>
  </div>
  <div class="row align-items-center">
    <div class="form-group col-md">
      <label for="notes">Notes for the staff (optional)</label>
      {{ form.notes }}
      {{ form.notes.errors }}
    </div>
    <button class='btn btn-primary ml-auto mr-auto ml-md-2 mr-md-4' type="submit">Submit</button>
  </div>
</form>