<form method="POST" class="post-form">
  {% csrf_token %}
  <div class="row">
    <div class="form-group col-md">
      <label for="name">{{ form.name.label }}</label>
      {{ form.name }}
    </div>
    <div class="form-group col-md">
      <label for="email">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <label for="name">{{ form.date.label }}</label>
      {{ form.date }}
    </div>
    <div class="form-group col-md">
      <label for="name">{{ form.time.label }}</label>
      {{ form.time }}
    </div>
    <div class="form-group col-md">
      <label for="name">{{ form.partySize.label }}</label>
      {{ form.partySize }}
    </div>
  </div>
  <div class="row align-items-center">
    <div class="form-group col-md">
      <label for="notes">{{ form.notes.label }}</label>
      {{ form.notes }}
    </div>
    <button style="height:30px; margin-left:10px; margin-right:20px" type="submit">Submit</button>
  </div>
</form>