{% extends 'base.html' %}
{% block content %}
<div class="p-5 mt-5 ml-auto mr-auto mt-3 bg-dark text-light rounded border border-light">
  <h3 class="header d-inline">
    View Reservation
  </h3>
  <a class="btn btn-info d-inline ml-3 {% if reservation.expired %}disabled{% endif %}"
    href="{% url 'edit' reservation.url %}">
    Edit
  </a>
  {% if reservation.expired %}
  <span class="pl-3 text-danger">
    *Reservation is expired
  </span>
  {% endif %}
  <hr>
  <table class="w-100 table-striped">
    <tbody>
      <tr>
        <td class='pr-5 p-2'>First Name</td>
        <td class='pr-3'>{{ reservation.name }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Date</td>
        <td class='pr-3'>{{ reservation.date }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Time</td>
        <td class='pr-3'>{{ reservation.time }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Party Size</td>
        <td class='pr-3'>{{ reservation.partySize }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Notes</td>
        <td class='pr-3'>{{ reservation.notes }}</td>
      </tr>
    </tbody>
  </table>
  <p class='pt-3'>*All times in Mountain Standard Time (UTC-7)</p>
</div>
{% endblock %}