{% extends 'base.html' %}
{% block content %}
<div style="max-width: 800px" class="p-2 ml-auto mr-auto mt-3">
  <h3 class="header d-inline">
    View Reservation
  </h3>
  <a class='btn btn-info d-inline ml-3' href="{% url 'edit' reservation.url %}">
    Edit
  </a>
  <hr>
  <table class="w-100 table-striped">
    <tbody>
      <tr>
        <td class='pr-5 p-2'>Name</td>
        <td class='pr-3'>{{ reservation.name }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Email</td>
        <td class='pr-3'>{{ reservation.email }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Date</td>
        <td class='pr-3'>{{ reservation.date }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Time</td>
        <td class='pr-3'>{{ reservation.time }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Party Size</td>
        <td class='pr-3'>{{ reservation.partySize }}</td>
      </tr>
      <tr>
        <td class='pr-5 p-2'>Notes</td>
        <td class='pr-3'>{{ reservation.notes }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}