packages:
  yum:
     git: []
     postgresql95-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py
    StaticFiles: /static/=static/
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:780704596713:certificate/d4e33809-7a86-4a5b-ade9-470225dbcf06

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_static:
    command: "python manage.py collectstatic"